.header{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__search{
display: none;
}
@media screen and (min-width: 768px) {
    .header__search{
        display: flex;
        flex: 1;
    }
}
.header__logo {
    width: 125px;
    margin: 0 20px;
    margin-bottom: 5px;
    object-fit: contain;
}

.header__searchInput:hover{
    border-color: #33a8ff;
}

.header__searchInput{
    outline: none;
    height: 30px;
    padding: 10px;
    border-radius: 36px;
    border: 1px solid #EDEFF1;
    width: 100%;
    background-color: #F6F7F8;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__link{
    text-decoration: none;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__signUp{
    font-size: 13px;
    font-weight: 800;
}

.header__buttonLog{
    border-radius: 9999px;
    border: 1px solid #0079D3;
    color: #0079D3;
    fill: #0079D3;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}

.header__buttonSign{
    border-radius: 9999px;
    border: none;
    background-color: #0079D3;
    color: #FFFFFF;
    fill: #FFFFFF;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}

.header__buttonLog:hover{
    opacity: 0.9;
}

.header__buttonSign:hover{
    opacity: 0.9;
}
