.home{
    height: 100%;
    background-color: #DAE0E6;
}

.button__Refresh{
    margin-left: 10px;
}

.searchbar{
    padding-right: 10px;
    padding-top: 2px;
}


.searchbar__input{
    height: 35px;
    padding-right: 30px;
    border-radius: 5px;
    border: 1px solid #EDEFF1;
    background-color: #F6F7F8;
    width: 280px;
}

.element{
    display: flex;
    flex-direction: row;
    margin-left: 32%;
    margin-bottom: -15px;
    padding-top: 20px;
}