.home{
    height: 100%;
    background-color: #DAE0E6;
}

.button{
    text-align: center;
    padding-top: 20px;
    padding-left:230px;
    margin-bottom: -15px;
}

.button__Refresh{
    margin-left: 10px;
}