.register{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
}

.register__container{
    width: 300px;
    display: block;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    background-color: #f2f2f2;
    margin-top: 100px;
}

.register__signUpButton{
    border-radius: .25rem;
    display: inline-block;
    color: #fff;
    font-weight: 700;
    line-height: 1em;
    font-size: .8125rem;
    padding: .5rem 1.875rem;
    background: #2e97ff;
    border: 0;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: .0625rem solid transparent;
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.42857;
    border-radius: .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.register__container p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
}

.register__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.register__container > form > h5 {
    margin-bottom: 5px;
}

.register__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}