.author{
    padding-left: 390px;
    padding-top: 20px;
}

.date{
    padding-left: 290px;
    
}

.box{
    cursor:pointer;
    max-width: 577px;
}

.box:hover{
    border: 1px solid #898989;
    border-radius: 5px;
}