.author{
    padding-top: 20px;
    text-align: end;
}

.date{
    text-align: end;
}

.box{
    cursor:pointer;
    max-width: 577px;
    min-width: 577px;
}

.box:hover{
    border: 1px solid #898989;
    border-radius: 5px;
}